* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
}

ul,li,ol {
    list-style: none;
}

a, button {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.info {
    color: #fff;
    text-align: center;
    background-image: url('./earth.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
}

.search {
    width: 24px;
    height: 24px;
}

.title {
    font-size: 64px;
    letter-spacing: 15px;
}

.text {
    font-size: 24px;
    padding-block: 20px;
}

.input {
    padding: 10px 150px;
    border: none;
    border-radius: 15px;
    text-align: center;
}

.result {
    padding-top: 100px;
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

@media (max-width: 980px) {
    .container {
        gap: 30px;
        max-width: 980px;
    }
}

@media (max-width: 770px) {
    .container {
        gap: 20px;
        max-width: 770px;
    }
}
@media (max-width: 560px) {
    .container {
        gap: 20px;
        max-width: 560px;
    }
}